Hello everyone from the Charleston Mined Minds class.
<!--   <br><img src="box1.jpg" alt="box1" style="width:128px;height:128px;"><br>   -->

<form method = "post" action ="/users_name">
	<input type = "text" name = "user_name">
	<input type = "submit">
</form>