Okay <%= name %>, what are your 3 favorite numbers
<form method = "post" action = "/fav_nums">
	<input type = "number"   name = "user_fav1"><br>
	<input type = "number"   name = "user_fav2"><br>
	<input type = "number"   name = "user_fav3"><br>
	<input type ="text" name ="name" value =<%=name%> hidden>
	<input type ="text" age ="age" value =<%=age%> hidden>
	<input type ="submit">
</form>